
/* line 297 : /Users/olivierchavarin/Documents/Archives/Web/Scriptura/ScripturaFramework/Root/Styles/Demos.styl */

/* line 1 : /Users/olivierchavarin/Documents/Archives/Web/Scriptura/ScripturaFramework/node_modules/stylus/lib/functions/index.styl */

/* line 8 : /Users/olivierchavarin/Documents/Archives/Web/Scriptura/ScripturaFramework/Root/Styles/Demos.styl */
.demo-item {
  overflow: hidden;
  min-height: 4rem;
  width: 100%;
  text-align: center;
  background-color: #fff;
}

/* line 15 : /Users/olivierchavarin/Documents/Archives/Web/Scriptura/ScripturaFramework/Root/Styles/Demos.styl */
.demo-layout [class^="m"],
.demo-layout aside {
  min-height: 4rem;
  padding: 0.5rem 0;
  text-align: center;
  background-color: #fff;
}

/* line 22 : /Users/olivierchavarin/Documents/Archives/Web/Scriptura/ScripturaFramework/Root/Styles/Demos.styl */
.demo-layout2 [class^="m"] {
  padding: 0.5rem;
  background-color: #fff;
  background-size: cover;
  background-position: 50% 50%;
}

/* line 28 : /Users/olivierchavarin/Documents/Archives/Web/Scriptura/ScripturaFramework/Root/Styles/Demos.styl */
@media screen and (max-width: 36.01rem) {

/* line 30 : /Users/olivierchavarin/Documents/Archives/Web/Scriptura/ScripturaFramework/Root/Styles/Demos.styl */
  .demo-layout2 [class^="m"] {
    background-image: url("/Images/Demo/ColorfulLeafS600.jpg");
  }

/* line 33 : /Users/olivierchavarin/Documents/Archives/Web/Scriptura/ScripturaFramework/Root/Styles/Demos.styl */
  .demo-layout2 > :nth-child(5n+2) {
    background-image: url("/Images/Demo/LotusMacroS600.jpg");
  }

/* line 36 : /Users/olivierchavarin/Documents/Archives/Web/Scriptura/ScripturaFramework/Root/Styles/Demos.styl */
  .demo-layout2 > :nth-child(5n+3) {
    background-image: url("/Images/Demo/GrassLeafS600.jpg");
  }

/* line 39 : /Users/olivierchavarin/Documents/Archives/Web/Scriptura/ScripturaFramework/Root/Styles/Demos.styl */
  .demo-layout2 > :nth-child(5n+4) {
    background-image: url("/Images/Demo/PacificCityS600.jpg");
  }

/* line 42 : /Users/olivierchavarin/Documents/Archives/Web/Scriptura/ScripturaFramework/Root/Styles/Demos.styl */
  .demo-layout2 > :nth-child(5n+5) {
    background-image: url("/Images/Demo/OldMechanismS600.jpg");
  }
}

/* line 45 : /Users/olivierchavarin/Documents/Archives/Web/Scriptura/ScripturaFramework/Root/Styles/Demos.styl */
@media screen and (min-width: 36.01rem) and (max-width: 65.01rem) {

/* line 47 : /Users/olivierchavarin/Documents/Archives/Web/Scriptura/ScripturaFramework/Root/Styles/Demos.styl */
  .demo-layout2 [class^="m"] {
    background-image: url("/Images/Demo/ColorfulLeafS1000.jpg");
  }

/* line 50 : /Users/olivierchavarin/Documents/Archives/Web/Scriptura/ScripturaFramework/Root/Styles/Demos.styl */
  .demo-layout2 > :nth-child(5n+2) {
    background-image: url("/Images/Demo/LotusMacroS1000.jpg");
  }

/* line 53 : /Users/olivierchavarin/Documents/Archives/Web/Scriptura/ScripturaFramework/Root/Styles/Demos.styl */
  .demo-layout2 > :nth-child(5n+3) {
    background-image: url("/Images/Demo/GrassLeafS1000.jpg");
  }

/* line 56 : /Users/olivierchavarin/Documents/Archives/Web/Scriptura/ScripturaFramework/Root/Styles/Demos.styl */
  .demo-layout2 > :nth-child(5n+4) {
    background-image: url("/Images/Demo/PacificCityS1000.jpg");
  }

/* line 59 : /Users/olivierchavarin/Documents/Archives/Web/Scriptura/ScripturaFramework/Root/Styles/Demos.styl */
  .demo-layout2 > :nth-child(5n+5) {
    background-image: url("/Images/Demo/OldMechanismS1000.jpg");
  }
}

/* line 62 : /Users/olivierchavarin/Documents/Archives/Web/Scriptura/ScripturaFramework/Root/Styles/Demos.styl */
@media screen and (min-width: 65.01rem) {

/* line 64 : /Users/olivierchavarin/Documents/Archives/Web/Scriptura/ScripturaFramework/Root/Styles/Demos.styl */
  .demo-layout2 [class^="m"] {
    background-image: url("/Images/Demo/ColorfulLeafS2000.jpg");
  }

/* line 67 : /Users/olivierchavarin/Documents/Archives/Web/Scriptura/ScripturaFramework/Root/Styles/Demos.styl */
  .demo-layout2 > :nth-child(5n+2) {
    background-image: url("/Images/Demo/LotusMacroS2000.jpg");
  }

/* line 70 : /Users/olivierchavarin/Documents/Archives/Web/Scriptura/ScripturaFramework/Root/Styles/Demos.styl */
  .demo-layout2 > :nth-child(5n+3) {
    background-image: url("/Images/Demo/GrassLeafS2000.jpg");
  }

/* line 73 : /Users/olivierchavarin/Documents/Archives/Web/Scriptura/ScripturaFramework/Root/Styles/Demos.styl */
  .demo-layout2 > :nth-child(5n+4) {
    background-image: url("/Images/Demo/PacificCityS2000.jpg");
  }

/* line 76 : /Users/olivierchavarin/Documents/Archives/Web/Scriptura/ScripturaFramework/Root/Styles/Demos.styl */
  .demo-layout2 > :nth-child(5n+5) {
    background-image: url("/Images/Demo/OldMechanismS2000.jpg");
  }
}

/* line 79 : /Users/olivierchavarin/Documents/Archives/Web/Scriptura/ScripturaFramework/Root/Styles/Demos.styl */
.demo-ratio [class^="ratio"] {
  background-color: #fff;
}

/* line 82 : /Users/olivierchavarin/Documents/Archives/Web/Scriptura/ScripturaFramework/Root/Styles/Demos.styl */
.slideshow .cycle-text *:not(button) {
  color: #fff;
  fill: #fff;
}

/* line 86 : /Users/olivierchavarin/Documents/Archives/Web/Scriptura/ScripturaFramework/Root/Styles/Demos.styl */
.slideshow .cycle-text button::before {
  content: '\EA1A';
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
