div:empty,
span:empty,
li:empty,
p:empty {
  outline: 5px dotted #ff0 !important;
}
*[title=""],
*[class=""],
*[id=""],
a[href=""],
table[summary=""] {
  outline: 5px solid #ff0 !important;
}
applet,
basefont,
center,
dir,
font,
isindex,
menu,
s,
strike,
u,
hgroup,
big,
tt {
  outline: 5px dotted #f00 !important;
}
input[type="button"] {
  outline: 5px dotted #3f0 !important;
}
*[background],
*[bgcolor],
*[clear],
*[color],
*[compact],
*[noshade],
*[nowrap],
*[size],
*[start],
*[bottommargin],
*[leftmargin],
*[rightmargin],
*[topmargin],
*[marginheight],
*[marginwidth],
*[alink],
*[link],
*[text],
*[vlink],
*[align],
*[valign],
*[hspace],
*[vspace],
*[height]:not(img),
*[width]:not(img),
ul[type],
ol[type],
li[type] {
  outline: 5px solid #f00 !important;
}
*[border],
table[cellpadding],
table[cellspacing],
*[name] {
  outline: 5px solid #3f0 !important;
}
iframe:not([title]) {
  outline: 5px solid #f00 !important;
}
img[ismap] {
  outline: 5px solid #f00;
}
img:not([alt]) {
  outline: 5px solid #f00;
}
div[role="img"]:not([aria-label]) {
  outline: 5px solid #f00;
}
img:not([src]),
img[src=""],
img[src="#"] {
  outline: 5px solid #f00 !important;
}
a[href=""],
a[href="#"],
a:not([href]),
a[href*=javascript:],
a[onclick] {
  outline: 5px solid #f00 !important;
}
a:empty {
  outline: 5px solid #f00 !important;
}
fieldset > :not(legend):first-child,
fieldset > legend:not(:first-child) {
  outline: 5px dashed #f00 !important;
}
fieldset > legend:first-child {
  outline: 3px solid #008000 !important;
}
input[type="image"][alt=""],
input[type="image"]:not([alt]) {
  display: block;
  background-color: #f00 !important;
  width: 200px !important;
  height: 3em !important;
}
label:not([for]) {
  outline: 5px solid #f00 !important;
}
input[type="text"]:not([id]),
input[type="password"]:not([id]),
input[type="checkbox"]:not([id]),
input[type="radio"]:not([id]),
input[type="file"]:not([id]),
select:not([id]),
textarea:not([id]) {
  outline: 5px solid #f00 !important;
}
input[type="file"]:not([id]) {
  background-color: #f00 !important;
}
input[type="checkbox"]:not([id]),
input[type="radio"]:not([id]) {
  outline: 5px solid #f00 !important;
}
[dir]:not([dir="rtl"]):not([dir="ltr"]) {
  background-color: #ff69b4 !important;
}
[dir="rtl"]::before,
[dir="ltr"]::before {
  content: "dir: " attr(dir);
  display: block;
  color: #006400 !important;
  background-color: #ffffe0 !important;
}
head,
title {
  display: block;
}
title::before {
  content: 'TITLE';
  margin: 0 0.4em;
  padding: 0 0.4em;
  color: #000;
  background-color: #d0d0d0;
  border-radius: 3px;
}
head > title {
  margin: 0;
  padding: 0.2em 0;
  border-bottom: 1px solid #ccc;
  color: #444;
  background-color: #fff;
}
title:empty::after {
  content: "ERROR: title -moz-element is empty and it shouldn't";
  content: "ERROR: title element is empty and it shouldn't";
  color: #c22;
  background-color: #fff;
}
title:empty::before,
title ~ title::before {
  color: #fff;
  background-color: #c22;
}
title ~ title::after {
  content: ' (ERROR: why more than one title element?)';
}
title ~ title {
  color: #c22;
  background-color: #fff;
}
meta[http-equiv=refresh]::before {
  content: 'meta refresh detected';
}
meta[http-equiv=refresh] {
  display: block;
  padding: 0.4em;
  font-weight: bold;
  color: #fff;
  background-color: #8b0000;
}
html[lang] {
  display: block;
  margin-top: 0.4em;
}
html:not([lang])::before {
  content: 'no lang attribute detected';
  margin: 0.4em;
  padding: 0 0.4em;
  color: #fff;
  background-color: #8b0000;
  border-radius: 3px;
}
html[lang]::before {
  content: 'Default language of the page: ' attr(lang);
  margin: 0.4em;
  color: #444;
  background-color: #fff;
}
*[accesskey] {
  border: 5px solid #f00;
}
th:empty {
  padding: 20px;
  border: 5px solid #ff0 !important;
}
table > tr:only-child,
table > tbody > tr:only-child {
  border: 5px solid #f00;
}
table[align],
table[bgcolor],
table[border],
table[cellpadding],
table[cellspacing],
table[width],
td[width],
td[valign] {
  border: 5px solid #f00;
}
td[scope] {
  border: 2px solid #ffa500 !important;
}
td[scope]::before {
  content: 'Better use th! ';
  color: #fff;
  background-color: #ffa500;
}
th[colspan][scope],
th[rowspan][scope] {
  border: 3px solid #f00 !important;
}
