
/* line 286 : /Users/olivierchavarin/Documents/Archives/web/Scriptura/ScripturaSite/Root/Styles/DiagnosticTags.styl */

/* line 1 : /Users/olivierchavarin/Documents/Archives/web/Scriptura/ScripturaSite/node_modules/gulp-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 11 : /Users/olivierchavarin/Documents/Archives/web/Scriptura/ScripturaSite/Root/Styles/DiagnosticTags.styl */
div:empty,
span:empty,
li:empty,
p:empty {
  outline: 5px dotted #ff0 !important;
}

/* line 18 : /Users/olivierchavarin/Documents/Archives/web/Scriptura/ScripturaSite/Root/Styles/DiagnosticTags.styl */
*[title=""],
*[class=""],
*[id=""],
a[href=""],
table[summary=""] {
  outline: 5px solid #ff0 !important;
}

/* line 27 : /Users/olivierchavarin/Documents/Archives/web/Scriptura/ScripturaSite/Root/Styles/DiagnosticTags.styl */
applet,
basefont,
center,
dir,
font,
isindex,
menu,
s,
strike,
u,
hgroup,
big,
tt {
  outline: 5px dotted #f00 !important;
}

/* line 43 : /Users/olivierchavarin/Documents/Archives/web/Scriptura/ScripturaSite/Root/Styles/DiagnosticTags.styl */
input[type="button"] {
  outline: 5px dotted #3f0 !important;
}

/* line 47 : /Users/olivierchavarin/Documents/Archives/web/Scriptura/ScripturaSite/Root/Styles/DiagnosticTags.styl */
*[background],
*[bgcolor],
*[clear],
*[color],
*[compact],
*[noshade],
*[nowrap],
*[size],
*[start],
*[bottommargin],
*[leftmargin],
*[rightmargin],
*[topmargin],
*[marginheight],
*[marginwidth],
*[alink],
*[link],
*[text],
*[vlink],
*[align],
*[valign],
*[hspace],
*[vspace],
*[height]:not(img),
*[width]:not(img),
ul[type],
ol[type],
li[type] {
  outline: 5px solid #f00 !important;
}

/* line 76 : /Users/olivierchavarin/Documents/Archives/web/Scriptura/ScripturaSite/Root/Styles/DiagnosticTags.styl */
*[border],
table[cellpadding],
table[cellspacing],
*[name] {
  outline: 5px solid #3f0 !important;
}

/* line 84 : /Users/olivierchavarin/Documents/Archives/web/Scriptura/ScripturaSite/Root/Styles/DiagnosticTags.styl */
iframe:not([title]) {
  outline: 5px solid #f00 !important;
}

/* line 92 : /Users/olivierchavarin/Documents/Archives/web/Scriptura/ScripturaSite/Root/Styles/DiagnosticTags.styl */
img[ismap] {
  outline: 5px solid #f00;
}

/* line 96 : /Users/olivierchavarin/Documents/Archives/web/Scriptura/ScripturaSite/Root/Styles/DiagnosticTags.styl */
img:not([alt]) {
  outline: 5px solid #f00;
}

/* line 100 : /Users/olivierchavarin/Documents/Archives/web/Scriptura/ScripturaSite/Root/Styles/DiagnosticTags.styl */
div[role="img"]:not([aria-label]) {
  outline: 5px solid #f00;
}

/* line 104 : /Users/olivierchavarin/Documents/Archives/web/Scriptura/ScripturaSite/Root/Styles/DiagnosticTags.styl */
img:not([src]),
img[src=""],
img[src="#"] {
  outline: 5px solid #f00 !important;
}

/* line 114 : /Users/olivierchavarin/Documents/Archives/web/Scriptura/ScripturaSite/Root/Styles/DiagnosticTags.styl */
a[href=""],
a[href="#"],
a:not([href]),
a[href*=javascript:],
a[onclick] {
  outline: 5px solid #f00 !important;
}

/* line 125 : /Users/olivierchavarin/Documents/Archives/web/Scriptura/ScripturaSite/Root/Styles/DiagnosticTags.styl */
a:empty {
  outline: 5px solid #f00 !important;
}

/* line 133 : /Users/olivierchavarin/Documents/Archives/web/Scriptura/ScripturaSite/Root/Styles/DiagnosticTags.styl */
fieldset > :not(legend):first-child,
fieldset > legend:not(:first-child) {
  outline: 5px dashed #f00 !important;
}

/* line 138 : /Users/olivierchavarin/Documents/Archives/web/Scriptura/ScripturaSite/Root/Styles/DiagnosticTags.styl */
fieldset > legend:first-child {
  outline: 3px solid #008000 !important;
}

/* line 161 : /Users/olivierchavarin/Documents/Archives/web/Scriptura/ScripturaSite/Root/Styles/DiagnosticTags.styl */
input[type="image"][alt=""],
input[type="image"]:not([alt]) {
  display: block;
  background-color: #f00 !important;
  width: 200px !important;
  height: 3em !important;
}

/* line 169 : /Users/olivierchavarin/Documents/Archives/web/Scriptura/ScripturaSite/Root/Styles/DiagnosticTags.styl */
label:not([for]) {
  outline: 5px solid #f00 !important;
}

/* line 175 : /Users/olivierchavarin/Documents/Archives/web/Scriptura/ScripturaSite/Root/Styles/DiagnosticTags.styl */
input[type="text"]:not([id]),
input[type="password"]:not([id]),
input[type="checkbox"]:not([id]),
input[type="radio"]:not([id]),
input[type="file"]:not([id]),
select:not([id]),
textarea:not([id]) {
  outline: 5px solid #f00 !important;
}

/* line 185 : /Users/olivierchavarin/Documents/Archives/web/Scriptura/ScripturaSite/Root/Styles/DiagnosticTags.styl */
input[type="file"]:not([id]) {
  background-color: #f00 !important;
}

/* line 189 : /Users/olivierchavarin/Documents/Archives/web/Scriptura/ScripturaSite/Root/Styles/DiagnosticTags.styl */
input[type="checkbox"]:not([id]),
input[type="radio"]:not([id]) {
  outline: 5px solid #f00 !important;
}

/* line 195 : /Users/olivierchavarin/Documents/Archives/web/Scriptura/ScripturaSite/Root/Styles/DiagnosticTags.styl */
[dir]:not([dir="rtl"]):not([dir="ltr"]) {
  background-color: #ff69b4 !important;
}

/* line 198 : /Users/olivierchavarin/Documents/Archives/web/Scriptura/ScripturaSite/Root/Styles/DiagnosticTags.styl */
[dir="rtl"]::before,
[dir="ltr"]::before {
  content: "dir: " attr(dir);
  display: block;
  color: #006400 !important;
  background-color: #ffffe0 !important;
}

/* line 206 : /Users/olivierchavarin/Documents/Archives/web/Scriptura/ScripturaSite/Root/Styles/DiagnosticTags.styl */
head,
title {
  display: block;
}

/* line 210 : /Users/olivierchavarin/Documents/Archives/web/Scriptura/ScripturaSite/Root/Styles/DiagnosticTags.styl */
title::before {
  content: 'TITLE';
  margin: 0 0.4em;
  padding: 0 0.4em;
  color: #000;
  background-color: #d0d0d0;
  border-radius: 3px;
}

/* line 218 : /Users/olivierchavarin/Documents/Archives/web/Scriptura/ScripturaSite/Root/Styles/DiagnosticTags.styl */
head > title {
  margin: 0;
  padding: 0.2em 0;
  border-bottom: 1px solid #ccc;
  color: #444;
  background-color: #fff;
}

/* line 226 : /Users/olivierchavarin/Documents/Archives/web/Scriptura/ScripturaSite/Root/Styles/DiagnosticTags.styl */
title:empty::after {
  content: "ERROR: title -moz-element is empty and it shouldn't";
  content: "ERROR: title element is empty and it shouldn't";
  color: #c22;
  background-color: #fff;
}

/* line 231 : /Users/olivierchavarin/Documents/Archives/web/Scriptura/ScripturaSite/Root/Styles/DiagnosticTags.styl */
title:empty::before,
title ~ title::before {
  color: #fff;
  background-color: #c22;
}

/* line 236 : /Users/olivierchavarin/Documents/Archives/web/Scriptura/ScripturaSite/Root/Styles/DiagnosticTags.styl */
title ~ title::after {
  content: ' (ERROR: why more than one title element?)';
}

/* line 239 : /Users/olivierchavarin/Documents/Archives/web/Scriptura/ScripturaSite/Root/Styles/DiagnosticTags.styl */
title ~ title {
  color: #c22;
  background-color: #fff;
}

/* line 246 : /Users/olivierchavarin/Documents/Archives/web/Scriptura/ScripturaSite/Root/Styles/DiagnosticTags.styl */
meta[http-equiv=refresh]::before {
  content: 'meta refresh detected';
}

/* line 249 : /Users/olivierchavarin/Documents/Archives/web/Scriptura/ScripturaSite/Root/Styles/DiagnosticTags.styl */
meta[http-equiv=refresh] {
  display: block;
  padding: 0.4em;
  font-weight: bold;
  color: #fff;
  background-color: #8b0000;
}

/* line 258 : /Users/olivierchavarin/Documents/Archives/web/Scriptura/ScripturaSite/Root/Styles/DiagnosticTags.styl */
html[lang] {
  display: block;
  margin-top: 0.4em;
}

/* line 262 : /Users/olivierchavarin/Documents/Archives/web/Scriptura/ScripturaSite/Root/Styles/DiagnosticTags.styl */
html:not([lang])::before {
  content: 'no lang attribute detected';
  margin: 0.4em;
  padding: 0 0.4em;
  color: #fff;
  background-color: #8b0000;
  border-radius: 3px;
}

/* line 270 : /Users/olivierchavarin/Documents/Archives/web/Scriptura/ScripturaSite/Root/Styles/DiagnosticTags.styl */
html[lang]::before {
  content: 'Default language of the page: ' attr(lang);
  margin: 0.4em;
  color: #444;
  background-color: #fff;
}

/* line 278 : /Users/olivierchavarin/Documents/Archives/web/Scriptura/ScripturaSite/Root/Styles/DiagnosticTags.styl */
*[accesskey] {
  border: 5px solid #f00;
}

/* line 288 : /Users/olivierchavarin/Documents/Archives/web/Scriptura/ScripturaSite/Root/Styles/DiagnosticTags.styl */
th:empty {
  padding: 20px;
  border: 5px solid #ff0 !important;
}

/* line 293 : /Users/olivierchavarin/Documents/Archives/web/Scriptura/ScripturaSite/Root/Styles/DiagnosticTags.styl */
table > tr:only-child,
table > tbody > tr:only-child {
  border: 5px solid #f00;
}

/* line 298 : /Users/olivierchavarin/Documents/Archives/web/Scriptura/ScripturaSite/Root/Styles/DiagnosticTags.styl */
table[align],
table[bgcolor],
table[border],
table[cellpadding],
table[cellspacing],
table[width],
td[width],
td[valign] {
  border: 5px solid #f00;
}

/* line 310 : /Users/olivierchavarin/Documents/Archives/web/Scriptura/ScripturaSite/Root/Styles/DiagnosticTags.styl */
td[scope] {
  border: 2px solid #ffa500 !important;
}

/* line 313 : /Users/olivierchavarin/Documents/Archives/web/Scriptura/ScripturaSite/Root/Styles/DiagnosticTags.styl */
td[scope]::before {
  content: 'Better use th! ';
  color: #fff;
  background-color: #ffa500;
}

/* line 319 : /Users/olivierchavarin/Documents/Archives/web/Scriptura/ScripturaSite/Root/Styles/DiagnosticTags.styl */
th[colspan][scope],
th[rowspan][scope] {
  border: 3px solid #f00 !important;
}
