/* -----------------------------------------------------------------------------
//                 _____           _       _
//                / ____|         (_)     | |
//               | (___   ___ _ __ _ _ __ | |_ _   _ _ __ __ _
//                \___ \ / __| '__| | '_ \| __| | | | '__/ _` |
//                ____) | (__| |  | | |_) | |_| |_| | | | (_| |
//               |_____/ \___|_|  |_| .__/ \__|\__,_|_|  \__,_|
//                                  | |
//                                  |_|
// @name         Scriptura
// @description  Interface for web apps
// @version      0.0.41
// @lastmodified 2016-10-13 10:45:16
// @author       Olivier Chavarin
// @homepage     http://scriptura.github.io/
// @license      ISC
// ----------------------------------------------------------------------------*/
