// -----------------------------------------------------------------------------
// @section     RATATOUILLE VALUES
// @description Variables globales pour le thème
// -----------------------------------------------------------------------------


// @subsection  Fonts
// @description Choix des polices de caractères à charger via @font-face
// -----------------------------------------------------------------------------

// @note Le nom de la police doit être le même que ne nom du fichier de la police. Pour raison de simplification...

  $fontName = 'Libre Baskerville'
  $fontFile = librebaskerville

  $fontName2 = LibreBaskTang
  $fontFile2 = LibreBaskTang

// @subsection Typography
// -----------------------------------------------------------------------------

//fontFamily =  'Open Sans', 'Helvetica Light', Helvetica, 'Droid Sans', Arial, sans-serif
  $fontFamily = $fontName, serif            // Default fonts
  $fontFamily2 = $fontName2, serif          // Titles
  $fontFamily3 = false                      // Dropcap
  $fontFamily5 = 'GFS Didot', 'Palatino Linotype', Palatino, sans-serif // :lang(grc)
  $fontFamily6 = 'Libre Baskerville', 'Palatino Linotype', Palatino, sans-serif // :lang(he)
  $fontWeight = 300                         // épaisseur par défaut
  $fontWeight2 = 400                        // hx font


// @subsection  Colors
// @description Propagation des couleurs pour le thème
// -----------------------------------------------------------------------------

  // @documentation :
  // [1] Correctif pour les gris foncés, afin que l'impression de profondeur du gris soit visuellement équivalente entre les deux couleurs :

  // Palette de référence pour les couleurs du thème
  $color0 = IndianRed                       // couleur de fond
  $color1 = #b03c57                         // couleur dominante 1
  $color2 = #b9515d                         // couleur dominante 2
  $color4 = #7ca166                         // couleur secondaire (vert)
  $color5 = #bb7c3c                         // couleur secondaire (orange)
  $color6 = #5a728a                         // couleur secondaire (bleu)
  $color7 = #fcf8e3                         // couleur secondaire (jaune)
  $colorG = desaturate($color1, 100%)       // gris de référence

  $colorCL0001 = #aaa                       // Footer
  $colorBG0001 = #555
  $colorCL0002 = #efefef
  $colorCL0003 = #777
  $colorBG002 = #ddd
  $colorCL004 = $color1                     // Links
  $colorCL005 = $color1                     // Titles
  $colorBD008 = $color1
  $colorBG008a = #eee
  $colorBS008 = .5rem .5rem 2rem rgba(0, 0, 0, .1)
  $colorBG009 = $color1
  $colorBS009 = $colorBS008
  $colorCL011 = $color1                     // Verses
  $colorBG015a = transparent                // Ribbons
  $colorBG015b = rgba(255, 255, 255, .2)
  $colorCL016 = #eee !important
  $colorBG016a = $color1
  $colorCL017 = #fff !important
  $colorBD018 = darken($colorBG016a, 20%)
  $colorBG019a = $colorBG015a
  $colorBG019b = $colorBG015b
  $colorBD020 = darken($colorBG016a, 20%)
  $colorBG021a = $colorBG015a
  $colorBG021b = $colorBG015b
  $colorBG022a = $colorBG021a
  $colorBG022b = $colorBG021b
  $colorBG023 = #eee                        // Special Lists
  $colorBS023 = .5rem .5rem 2rem rgba(0, 0, 0, .1)
  $colorBG024 = #fefefe
  $colorBS024 = .5rem .5rem 2rem rgba(0, 0, 0, .25)
  $colorBG025 = $colorBG023                 // Number Lists
  $colorBS025 = .5rem .5rem 2rem rgba(0, 0, 0, .1)
  $colorBG026 = $color1
  $colorBS0261 = .5rem .5rem 2rem rgba(0, 0, 0, .1)
  $colorBD027 = $colorBG026
  $colorBS0271 = .5rem .5rem 2rem rgba(0, 0, 0, .1)
  $colorBD029 = $color6                     // Emphasized Titles
  $colorCL0291 = #ddd                       // Surround
  $colorBG0291 = $color1
  $colorBS0291 = .5rem .5rem 2rem rgba(0, 0, 0, .25)
  $colorBD030 = #eee
  $colorBS030 = .5rem .5rem 2rem rgba(0, 0, 0, .1)
  $colorBD031 = $colorBD030
  $colorBS031 = $colorBS030
  $colorBG032 = lighten($color6, 70%)       // Messages Box
  $colorBG033 = lighten($color4, 70%)       // lighten() for Stylus : 70% = Sass : 35%
  $colorBG034 = lighten($color5, 70%)
  $colorBG035a = $color7
  $colorBG035b = rgba(0, 0, 0, .05)
  $colorCL036 = #ddd                        // Figures
  $colorBG036 = #555
  $colorBG0291 = $color1
  $colorBS0401 = .5rem .5rem 2rem rgba(0, 0, 0, .2) // Medias
  $colorBS041 = $colorBS0401
  $colorBS0411 = $colorBS0401               // Players
  $colorFI0351 = $color1                    // Svg
  $colorBD053 = $color1
  $colorCL054 = $color1                     // Buttons
//$colorCL055 = #fff                        // Input Groups
  $colorBG055 = $color1
  $colorBG056 = $color1
  $colorBD056 = $color1
  $colorBG061 = #ebebeb                     // Checkbox & Radio
  $colorCL063 = $color1
  $colorBG067 = $color1
  $colorCL0721 = #eee
  $colorBG074a = $color1
  $colorBD074 = $color1
  $colorBG076a = $color1
  $colorBD076 = $color1
  $colorBG077 = $color1
  $colorBG078 = $color1                     // Progress
  $colorBG080 = $color1
  $colorBS0821 = .5rem .5rem 2rem rgba(0, 0, 0, .25) // Accordions
  $colorCL083 = #fff
  $colorBG083 = $color1
  $colorBG084 = $color5
  $colorBD086 = $colorBG084
  $colorBG006 = #ccc                        // Tabs
  $colorBD006 = #aaa
  $colorBG087 = #ddd
  $colorBD089 = $colorBD006
  $colorBS089 = .5rem .5rem 2rem rgba(0, 0, 0, .25)
  $colorBD0891 = #eee                       // Tables
  $colorBS0891 = .5rem .5rem 2rem rgba(0, 0, 0, .25)
  $colorCL090 = #eee
  $colorBG090 = $color1
  $colorCL091 = $colorCL090
  $colorBG091 = $color1
  $colorCL092 = $colorCL090
  $colorBG092 = $color6
  $colorBD093 = #ddd
  $colorCL096 = $colorCL090
  $colorBG096 = $color1
  $colorBD097 = $colorBG096
  $colorBG098 = $colorBG002                 // Popins
  $colorBS098 =  .5rem .5rem 2rem rgba(0, 0, 0, .25), 0 0 0 10000rem rgba(255, 255, 255, .85)
  $colorCL099 = $color1
  $colorBG099 = #ddd
  $colorBS099 = .5rem .5rem 2rem rgba(0, 0, 0, .25)
  $colorBG100 = #efefef
  $colorCL101 = #efefef                     // Tooltips
  $colorBG101 = $color1
  $colorBD102 = $colorBG101
  $colorBG103 = #555                        // Items Main Nav
  $colorCL105 = false
  $colorBG105 = #444
  $colorBS1052 = .5rem .5rem 2rem rgba(0, 0, 0, .15)
  $colorCL106 = false
  $colorBG106 = #444
  $colorBS1062 = 0 .5rem 2rem rgba(0, 0, 0, .15)
  $colorBS1082 = $colorBS1062               // Main Nav
  $colorBG109 = #444                        // Cmd Main Nav
  $colorBG1090 = $colorBG109
  $colorBG110 = #aaa
  $colorBG1101 = #555                       // Brand
  $colorBD111 = $color1                     // Download Links
  $colorBG112 = $color1
  $colorBD113a = #eee                       // Loaders
  $colorBD113b = $color1
  $colorBD114a = $colorBD113a
  $colorBD114b = $color1
  $colorBS115a = 0 4em 0 0 $color1
  $colorCL120 = #aaa !important
  $colorCL0121 = #333                       // Letter
  $colorBGd001 = #ededed                    // Styles de démonstration


// @subsection Images
// -----------------------------------------------------------------------------


// @subsection Rounds
// -----------------------------------------------------------------------------

  $r1 = .3rem                     // Boites
  $r2 = $r1                       // Éléments internes
  $r3 = false                     // Éléments d'informations
  $r4 = false                     // Bouttons