// -----------------------------------------------------------------------------
// @section	    VALUES
// @description Variables globales par défaut
// -----------------------------------------------------------------------------

// @bugfix @note Constat de téléscopages possible entre les variables stylus et certaines valeurs. Par convention le framework utilise donc $ pour ses variables. Cela permet aussi un meilleur repérage des variables dans le code.

// @subsection  Options
// @description Choix des $bundles
// -----------------------------------------------------------------------------

  $bundleGrid =                true
  $bundleMasonry =             false
  $bundleColumns =             true
  $bundleHidden =              true
  $bundlePositions =           true
  $bundleSizesBlocks =         true
  $bundleRatios =              true
  $bundleLangages =            true
  $bundleZoom =                true
  $bundleVerses =              true
  $bundleDropCaps =            true
  $bundleLetters =             false
  $bundleHeadbands =           true
  $bundleRibbons =             true
  $bundleLists =               true
  $bundleSummary =             true
  $bundleNumberlists =         true
  $bundleSeparators =          true
  $bundleHighlight =           true
  $bundleEmphasized =          true
  $bundleEmphasizedMeta =      true
  $bundleSurround =            true
  $bundleMessagesBox =         true
  $bundleImages =              true
  $bundleCaptionSlides =       true
  $bundleFocus =               true
  $bundleSlideshow =           true
  $bundleMedias =              true
  $bundlePlayers =             true
  $bundleMaps =                true
  $bundleGradients =           true
  $bundleForms =               true
  $bundleInputs =              true
  $bundleButtons =             true
  $bundleSearch =              true
  $bundleCheckbox =            true
  $bundleSwitchs =             true
  $bundleRanges =              true
  $bundleProgress =            true
  $bundleScrollTop =           true
  $bundleAccordions =          true
  $bundleTabs =                true
  $bundleTables =              true
  $bundlePopins =              true
  $bundleTooltips =            true
  $bundleMainNav =             true
  $bundleLoginAvatar =         true
  $bundleBreadcrumb =          true
  $bundleAnchors =             true
  $bundleLoaders =             true
  $bundleDownloadLinks =       true
  $bundleFooter =              true
  $bundleArticles =            true
  $bundleAside =               true
  $bundleComments =            true
  $bundleBox =                 true
  $bundleRelationship =        true
  $bundleUnveiling =           true
  $bundleOrganizationalChart = true


// @subsection  Grid
// @description Configuration de la grille
// -----------------------------------------------------------------------------

  $columns = 12                             // @note Nombre de colonnes
  $gutter = 1rem                            // @note Gouttière, largeur entre deux modules (en unité em/rem)
  $wrap = 90rem                             // @note Largeur maximale du contenu
  $bugfixGrid = .01px                       // @bugfix @affected IE10+, Firefox @todo En test...


// @subsection  Breakpoints
// @description Définition des points de rupture
// -----------------------------------------------------------------------------

// @see http://fr.wikipedia.org/wiki/Définition_d'écran
// @bugfix Nécessité de préciser deux chiffres après la virgule pour éviter un décalage entre 'max-width' et 'min-width' (avec une unité pour éviter les arrondissements par les navigateurs).

  $sizeXS =   36.01rem
  $sizeS =    65.01rem
  $sizeL =    90.01rem
  $sizeXL =  120.01rem
  $sizeXXL = 140.01rem
  $sizeNav =  65.01rem // @note À caler sur la taille de '.nav-main ul'. Prévoir de la marge en raison des différences d'interprétation des fonts selon les navigateurs


// @subsection Maintenance pour les points de rupture
// -----------------------------------------------------------------------------

//  .section::before
//    content 'sizeXS'
//    position fixed
//    z-index 4000
//    bottom 10px
//    left 10px
//    padding 10px
//    $color #fff
//    background-color red
//    border 2px solid #fff
//  @media (min-width: sizeXS) and (max-width: sizeS)
//    .section::before
//      content 'sizeS'
//      background-color black
//  @media (min-width: sizeS) and (max-width: sizeL)
//    .section::before
//      content 'sizeL'
//      background-color red
//  @media (min-width: sizeL) and (max-width: sizeXL)
//    .section::before
//      content 'sizeXL'
//      background-color black
//  @media (min-width: sizeXL)
//    .section::before
//      content 'sizeXXL'
//      background-color red


// @subsection  Fonts
// @description Choix des polices de caractères à charger via @font-face
// -----------------------------------------------------------------------------

// @note Le nom de la police doit être le même que ne nom du fichier de la police. Pour raison de simplification...

  $fontName = false
  $fontFile = false

  $fontName2 = false
  $fontFile2 = false


// @subsection Typography
// -----------------------------------------------------------------------------

  @import url('https://fonts.googleapis.com/css?family=Droid+Sans:400,700')

  $fontFamily = 'Droid Sans', sans-serif    // Default fonts
  $fontFamily2 = 'Droid Sans', sans-serif   // Titles
  $fontFamily3 = false                      // Dropcap
  $fontFamily5 = 'GFS Didot', 'Palatino Linotype', Palatino, sans-serif // :lang(grc)
  $fontFamily6 = 'Libre Baskerville', 'Palatino Linotype', Palatino, sans-serif // :lang(he)
  $fontWeight = 300                         // épaisseur par défaut
  $fontWeight2 = 400                        // hx font


// @subsection  Colors
// @description Propagation des couleurs pour le thème
// -----------------------------------------------------------------------------

  // @documentation :
  // [1] Correctif pour les gris foncés, afin que l'impression de profondeur du gris soit visuellement équivalente entre les deux couleurs :

  // Palette de référence pour les couleurs du thème
  $color0 = #fff                            // couleur de fond
  $color1 = #b03c57                         // couleur dominante 1
  $color2 = #b9515d                         // couleur dominante 2
  $color4 = #7ca166                         // couleur secondaire (vert)
  $color5 = #bb7c3c                         // couleur secondaire (orange)
  $color6 = #5a728a                         // couleur secondaire (bleu)
  $color7 = #f8fed8                         // couleur secondaire (jaune)
  $colorG = desaturate($color1, 100%)       // gris de référence


// Application des couleurs

// Memo variables :
// $colorCL : color
// $colorBG : background-color
// $colorBD : border-color
// $colorBS : box-shadow
// $colorTS : text-shadow
// $colorFI : fill

  $colorCL0001 = #aaa                       // Footer
  $colorBG0001 = #555
  $colorCL0002 = #efefef
  $colorCL0003 = #777
  
  $colorCL001 = #777                        // html
  $colorBG002 = #f0f0f0                     // body
  $colorBG003 = rgba(255, 111, 125, .5)     // ::selection
  $colorCL004 = $color1                     // Links
  $colorCL005 = $color1                     // Titles
  $colorBG006 = darken($colorBG002, 10%)    // Tabs
  $colorBD006 = #aaa
  $colorBG007 = rgba(255, 255, 255, .6)
  $colorBD007 = rgba(0, 0, 0, .1)
  $colorBG008a = #fff //darken($colorBG002, 5%)
  $colorBG008b = rgba(0, 0, 0, .2)
  $colorBD008 = $color6
  $colorBS008 = .5rem .5rem 2rem rgba(0, 0, 0, .1)
  $colorCL009 = $color0
  $colorBG009 = $colorBD008
  $colorBS009 = $colorBS008
  $colorBD010 = #ebebeb                     // blockquote
  $colorCL011 = $color1                     // Verses
  $colorCL012 = #777                        // Dropcaps
  $colorBG012 = false
  $colorBG013 = #eee                        // Headbands
  $colorBG014 = #000
  $colorBG015a = transparent                // Ribbons
  $colorBG015b = rgba(255, 255, 255, .2)
  $colorCL016 = #eee !important
  $colorBG016a = $color1
  $colorBG016b = rgba(0, 0, 0, .1)
  $colorBG016c = rgba(255, 255, 255, .05)
  $colorBS016 = 0 .3em 1em -.5em rgba(0, 0, 0, 1)
  $colorCL017 = #fff !important
  $colorBD018 = darken($colorBG016a, 20%)
  $colorBG019a = $colorBG015a
  $colorBG019b = $colorBG015b
  $colorBD020 = darken($colorBG016a, 20%)
  $colorBG021a = $colorBG015a
  $colorBG021b = $colorBG015b
  $colorBG022a = $colorBG021a
  $colorBG022b = $colorBG021b
  $colorBG023 = #fff                        // Special Lists
  $colorBS023 = .5rem .5rem 2rem rgba(0, 0, 0, .1)
  $colorBG024 = #fefefe
  $colorBS024 = .5rem .5rem 2rem rgba(0, 0, 0, .25)
  $colorBG025 = $colorBG023                 // Number Lists
  $colorBS025 = .5rem .5rem 2rem rgba(0, 0, 0, .1)
  $colorCL026 = $color0
  $colorBG026 = $color1
  $colorBS0261 = .5rem .5rem 2rem rgba(0, 0, 0, .1)
  $colorBD027 = $colorBG026
  $colorBS0271 = .5rem .5rem 2rem rgba(0, 0, 0, .1)
  $colorBD028 = #ebebeb                     // Separators
  $colorBD029 = $color6                     // Emphasized Titles
  $colorCL0291 = #ddd                       // Surround
  $colorBG0291 = $color1
  $colorBS0291 = .5rem .5rem 2rem rgba(0, 0, 0, .25)
  $colorCL030 = false
  $colorBG030 = darken($colorBG002, 5%)     // Messages Box
  $colorBD030 = $colorBG002
  $colorBS030 = .5rem .5rem 2rem rgba(0, 0, 0, .1)
  $colorBG031 = $colorBG030
  $colorBD031 = $colorBD030
  $colorBS031 = $colorBS030
  $colorBG032 = lighten($color6, 70%)
  $colorBG033 = lighten($color4, 70%)       // lighten() for Stylus : 70% = Sass : 35%
  $colorBG034 = lighten($color5, 70%)
  $colorBG035a = lighten($color7, 70%)
  $colorBG035b = rgba(0, 0, 0, .05)
  $colorFI0351 = $color1                    // Svg
  $colorCL036 = #ddd                        // Figures
  $colorBG036 = #555
  $colorBS036 = .5rem .5rem 2rem rgba(0, 0, 0, .2)
  $colorCL037 = $colorCL036                 // Caption Slides
  $colorTS037 = rgba(0, 0, 0, .5)
  $colorBG037 = rgba(0, 0, 0, .5)
  $colorCL038 = $colorCL036
  $colorBG038 = rgba(0, 0, 0, .5)
  $colorBS039 = .5rem .5rem 2rem rgba(0, 0, 0, .3) // Focus
  $colorCL040 = #aaa
  $colorBS040 = #333
  $colorBS0401 = .5rem .5rem 2rem rgba(0, 0, 0, .2) // Medias
  $colorBS041 = $colorBS0401
  $colorBG041 = #000
  $colorBS0411 = $colorBS0401               // Players
  $colorBG042 = #333
  $colorBG043 = rgba(0, 0, 0, .2)
  $colorBG044 = black
  $colorBG045 = #444
  $colorBG046 = red
  $colorBG047 = #222                        // Maps
  $colorBG048a = rgba(0, 0, 0, .1)          // Gradients
  $colorBG048b = rgba(255, 255, 255, .05)
  $colorCL121 = #aaa                        // ::placeholder
//$colorCL049 = colorCL121                  // Inputs
//$colorBG049 = #eee
  $colorBG050 = darken($colorBG002, 5%)
  $colorBD050 = $colorBG050
  $colorCL051 = #b8b8b8
  $colorBG052a = #efefef
  $colorBG052b = rgba(0, 0, 0, .3)
  $colorBG053 = #f2dede
  $colorBD053 = $color1
  $colorBD0531 = Orange
  $colorCL054 = $color1
  $colorCL055 = #efefef                     // Input Groups
  $colorBG055 = $color1
  $colorCL056 = #efefef                     // Buttons
  $colorBG056 = $color1
  $colorBD056 = $color1
  $colorBS056 = 0 .5rem 2rem rgba(0, 0, 0, .3)
  $colorBS057 = $colorBS056
  $colorBS058 = 0 0 0 #000
  $colorBS059 = $colorBS056
  $colorCL059 = #b8b8b8
  $colorBG059a = #858585
  $colorBG059b = rgba(255, 255, 255, .2)
  $colorBD059 = #858585
  $colorBG060 = $colorBG050                 // Search
  $colorBG061 = darken($colorBG002, 5%)     // Checkbox & Radio
  $colorBD061 = #ccc
  $colorBS061 = inset 0 .1em .3em rgba(0, 0, 0, .3)
  $colorBD062 = #888
  $colorCL063 = $color1
  $colorCL064 = #b8b8b8
  $colorBG065 = rgba(255, 255, 255, .2)
  $colorBG066 = #ebebeb                     // Switchs
  $colorBS066 = inset 0 .2em .5em rgba(0, 0, 0, .2)
  $colorBG067 = $color1
  $colorBG068 = #fefefe
  $colorBS068 = 0 .2em .5em rgba(0, 0, 0, .3)
  $colorBS069 = inset 0 .1em .3em rgba(0, 0, 0, .5)
  $colorCL0721 = #eee
  $colorCL119 = $colorCL064
  $colorBG070 = rgba(255, 255, 255, .2)
  $colorBG071 = #ebebeb
  $colorCL072 = #777
  $colorBG073 = darken($colorBG002, 5%)     // Ranges
  $colorBG074a = $color1
  $colorBG074b = rgba(0, 0, 0, .1)
  $colorBG074c = rgba(255, 255, 255, .05)
  $colorBD074 = $color1
  $colorBG075 = $colorBG073
  $colorBG076a = $color1
  $colorBG076b = rgba(0, 0, 0, .1)
  $colorBG076c = rgba(255, 255, 255, .05)
  $colorBD076 = $color1
  $colorBG077 = $color1
  $colorCL078 = #fefefe
  $colorBG078 = $color1                     // Progress
  $colorBG079 = rgba(0, 0, 0, .1)
  $colorBG080 = $color1
  $colorBS080 = inset 0 2px 9px rgba(255, 255, 255, .3), inset 0 -2px 6px rgba(0, 0, 0, .4)
  $colorBG081 = rgba(255, 255, 255, .2)
  $colorFI082 = #000                        // Scroll top
  $colorBS0821 = .5rem .5rem 2rem rgba(0, 0, 0, .25) // Accordions
  $colorCL083 = #fff
  $colorBG083 = $color1
  $colorBG084 = $color5
  $colorBG085 = darken($colorBG002, 10%)
  $colorBG086 = lighten($colorBG002, 10%)
  $colorBD086 = $colorBG084
  $colorBG087 = $colorBG002
  $colorCL099 = $color1
  $colorBD089 = $colorBD006
  $colorBS089 = .5rem .5rem 2rem rgba(0, 0, 0, .25)
  $colorBD0891 = #fefefe                    // Tables
  $colorBS0891 = .5rem .5rem 2rem rgba(0, 0, 0, .25)
  $colorCL090 = #eee
  $colorBG090 = $color1
  $colorCL091 = $colorCL090
  $colorBG091 = $color1
  $colorCL092 = $colorCL090
  $colorBG092 = $color6
  $colorBD093 = #ddd
  $colorBG094 = rgba(0, 0, 0, .1)
  $colorBG095 = rgba(0, 0, 0, .2)
  $colorCL096 = $colorCL090
  $colorBG096 = $color1
  $colorBD097 = $colorBG096
  $colorBG098 = $colorBG002                 // Popins
  $colorBS098 =  .5rem .5rem 2rem rgba(0, 0, 0, .25), 0 0 0 10000rem rgba(255, 255, 255, .85)
  $colorBG099 = #ddd
  $colorBS099 = .5rem .5rem 2rem rgba(0, 0, 0, .25)
  $colorBG100 = #efefef
  $colorCL101 = #efefef                     // Tooltips
  $colorBG101 = $color1
  $colorBD102 = $colorBG101
  $colorBG103 = #555                        // Items Main Nav
  $colorCL104 = #ddd
  $colorCL105 = false
  $colorBG105 = #444
  $colorCL106 = false
  $colorBG106 = #444
  $colorCL1051 = #fff
  $colorBG1051 = false
  $colorBG1052 = $colorBG105
  $colorBS1052 = .5rem .5rem 2rem rgba(0, 0, 0, .15)
  $colorCL1061 = false
  $colorBG1061 = false
  $colorBS1062 = 0 .5rem 2rem rgba(0, 0, 0, .15)
  $colorBG107 = #333
  $colorBD108a = rgba(255, 255, 255, .2)
  $colorBD108b = rgba(0, 0, 0, .2)
  $colorBD1081 = $colorBD108b
  $colorBS1082 = $colorBS1062               // Main Nav
  $colorBG109 = #444                        // Cmd Main Nav
  $colorBG1090 = $colorBG109
  $colorBG110 = #aaa
  $colorBG1101 = #555                       // Brand
  $colorCL0121 = #333                       // Letter
  $colorBD111 = $color1                     // Download Links
  $colorCL112 = $color0
  $colorBG112 = $color1
  $colorBD113a = darken($colorBG002, 5%)    // Loaders
  $colorBD113b = $color1
  $colorBD114a = $colorBD113a
  $colorBD114b = $color1
  $colorBS115a = 0 4em 0 0 $color1
  $colorBS115b = 0 4em 0 -.5em transparent
  $colorCL117 = $color0                     // Old Browers
  $colorBG117 = #000
  $colorCL118 = $color0
  $colorCL120 = #aaa !important

  $colorBGd001 = #fff                       // Styles de démonstration


// @subsection Images
// -----------------------------------------------------------------------------

  $image000 = url(../../Images/Logo.svg)
  $image001 = url(../../Images/play.svg)
  $image002 = url(../../Images/asterisk2.000.3.svg)
  $image004 = url(../../Images/select-column.000.3.svg)


// @subsection Rounds
// -----------------------------------------------------------------------------

  $r1 = .3rem                     // Boites
  $r2 = $r1                       // Éléments internes
  $r3 = false                     // Éléments d'informations
  $r4 = false                     // Bouttons
