// -----------------------------------------------------------------------------
// @section     Diagnostic Grids
// @description Visualisation des blocks et de la grille
// -----------------------------------------------------------------------------

body
  background-color #fffffa
  background-image linear-gradient(to bottom, #aaa, #fffffa .1em) !important
  background-size 100% 1.5em !important
  background-repeat repeat !important
  background-position 0 0 !important
  background-attachment scroll !important

.header
  background rgba(255, 55, 55, .1) !important

body > nav
  background rgba(255, 55, 55, .4) !important

.content
  background rgba(255, 55, 55, .1) !important

.box
  background rgba(55, 55, 55, .1) !important

.footer
  background rgba(255, 55, 55, .4) !important
