// -----------------------------------------------------------------------------
// @title       Print
// @description Feuille de style dédiée à l'impression
// -----------------------------------------------------------------------------

body > :not(main)
article header
.button-group
.scroll-top
.no-print
form
label
input
button
audio
video
.mejs-container // @note Classe MediaElement.js
.mejs-offscreen // @note Label MediaElement.js
  display none !important

* // @note Cache certains effets éventuels sur les boites et le texte
  text-shadow none !important
  box-shadow none !important
  background transparent !important

body
  margin 2cm // @bugfix @affected Safari @note Déclaration '@page' non reconnue par Safari, des marges sont donc définies sur le body
  font-family 'Open Sans', Arial, sans-serif
  font-weight 300
  line-height 20px
  font-size 14px
  color #666
  text-align justify

a
  color #000
  text-decoration none

.links a[href]::after
  content ' (' attr(href) ')' // @note Afficher l'URL

.links a[href^="#"]::after
  content '' // @note Pas d'affichage pour ce type d'URL

p
h2
h3
blockquote
  orphans 3 // @note Nombre de lignes minimum pour qu'un paragaphe soit conservé en bas de la page
  widows 3  // @note Nombre de lignes minimum pour qu'une fin de paragaphe soit imprimée en haut de la page

blockquote
ul
ol
figure
  page-break-inside avoid // @note No breaks inside these elements

h1, .h1
h2, .h2
h3, .h3
h4, .h4
h5, .h5
h6, .h6
  line-height 1.5
  text-align left
  page-break-after avoid // @note Évite un saut de page après l'élément

h1, .h1
  margin-top 16px
  margin-bottom 10px
  font-size 32px

h2, .h2
  margin-top 14px
  margin-bottom 8px
  font-size 28px

h3, .h3
  margin-top 12px
  margin-bottom 6px
  font-size 24px

h4, .h4
  margin-top 10px
  margin-bottom 4px
  font-size 20px

h5, .h5
  margin-top 8px
  margin-bottom 4px
  font-size 18px

h6, .h6
  margin-top 6px
  margin-bottom 4px
  font-size 16px

blockquote
  margin 0 0 20px
  padding 0 0 0 15px
  border-left 5px solid #aaa

[class^="columns"]
  display table // @note Important pour le comportement des éléments enfants en display:block
  table-layout fixed
  width 100% // @note Idem

[class^="columns"] > * // @note Disposition des éléments enfants en colonnes
  display table-cell
  vertical-align top // @note Permet l'alignement si différence de contenu
  width 100% // @note Cette règle permet le bon fonctionnement des classes .c2 à .c5
  padding 0 1rem .75rem 1rem

[class^="columns"] > :first-child
  padding-left 0

[class^="columns"] > :last-child
  padding-right 0

[class^="columns"] + p
  margin-top 0

[class*="figure"]
  overflow hidden // @note Formatage permetant le maintien de l'image dans le conteneur
  display block
  margin 0 0 20px
  border 1px solid #ddd

[class*="figure"] img
  float left
  width 100%
  height inherit
  max-width 200px
  //max-height 200px
  margin 10px

[class*="figure"] figcaption
  margin 10px

[class*="message"]
  padding 10px 20px
  margin-bottom 10px
  border 1px dashed #aaa
  border-radius 5px

[class*="map"]
  min-height 300px

[class^="table"]
  border 1px dotted #ddd

[class^="table"][class*="fixed"]
  table-layout fixed

[class^="table"] td
[class^="table"] th
  padding-left .5rem
  padding-right .5rem
  border 1px dotted #ddd

