doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    title Scriptura Framework
    meta(name='description' content='Interface for web apps')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='theme-color' content='#ff6f7d')
    link(rel='shortcut icon' href='./favicon.ico')
    link(rel='icon' sizes='192x192' href='./favicon192.png')
    link(rel='stylesheet' href='./Public/Styles/MainBlooming.css' media='screen')#stylesheet
  body(itemscope itemtype='//schema.org/WebPage')
    nav.main-nav(role='navigation')
      .wrap
        input(type='checkbox' id='cmd-main-nav')
        label(for='cmd-main-nav')
          span
        .brand-image
          a(href='/')
            span.hidden Scriptura
        ul
          li
            span.active
              span.icon-home.only-icon
              span.sizeNav-hidden Home
          li
            a(href='https://scriptura.github.io/Pages/StyleGuide.html')
              span.icon-list2
              | Style Guide
          li
            a(href='https://scriptura.github.io/Pages/Layouts.html')
              span.icon-frame
              | Layout Examples
          li
            a(href='https://scriptura.github.io/Pages/Themes.html')
              span.icon-rocket
              | Themes
          li.item-push
            a(href='https://github.com/Scriptura/ScripturaFramework')
              span.icon-github
              | Repository
    main.section
      .wrap.adddropcap
        h1.emphasized.vmin Hello World!
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tellus turpis, commodo vitae nisl et, molestie volutpat lacus. Maecenas et elementum neque. Maecenas at nibh in ipsum iaculis suscipit. Sed ut neque massa. Sed euismod pretium venenatis. Morbi sodales, mauris sed feugiat aliquam, sapien orci mattis sapien, nec ullamcorper mauris nisl at nibh. Nunc aliquam est eget gravida ultrices. Vestibulum auctor egestas odio, in luctus neque ornare non.
        p Cras vitae eros eget risus accumsan ullamcorper in ut eros. Maecenas molestie lacinia sem non pellentesque. Phasellus porta suscipit erat, eu sodales risus congue et. Nam luctus purus eu elit fermentum, nec pharetra dolor molestie. Mauris augue diam, fermentum ac sagittis ut, convallis eu lorem. Pellentesque volutpat gravida velit, at sollicitudin urna eleifend a. Donec ut augue lectus. Proin posuere ac lectus in iaculis. Quisque ac ante at neque semper congue.
    footer#index-footer.footer.vertical(role='contentinfo')
      .wrap.text-center
        br
        br
        p
          em
            a(href='https://scriptura.github.io/') Scriptura
            |  Framework
        br
        br
      //- Nécessité d'insérer les div suivantes dans un conteneur afin ne pas faire "sauter" le script de navigation OnePage
      //-
        .terms-use
          .message-warning
            p En parcourant ce site vous acceptez nos conditions générales d'utilisation...
            button.button.width#terms-use oui
      .old-browers
        .icon-spaceinvader.zoom700
        br
        p Old browser!
        br
        p The site can not be displayed with this browser. Update your browser.
      noscript.noscript
        //-
          Javascript est désactivé sur votre navigateur, activez-le afin de bénéficier de toutes les fonctionnalités du site.
        p.message-warning Javascript is disabled on your browser, enable it to benefit from all the site's features.
      .ajax-window-popin
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    script window.jQuery || document.write('<script src="./Scripts/Vendors/JQuery.js"><\/script>')
    script(src='./Public/Scripts/Main.js')
    script(src='./Public/Scripts/Themes.js')
